       #空 {
    height: 29px;
  }
   
   

 .加分样式 {
    font-size: 29px; /* 或者其他您希望的字体大小 */
    /* 可以添加更多样式，比如颜色等 */
}
   
@keyframes 淡入然后消失 {
    0% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.动画效果 {
    animation: 淡入然后消失 2s ease-in-out forwards;
}

   
   
    #单分数 {
        color: #000; /* 初始颜色为黑色，方便观察变化 */
    }



 /* 图片放大 */
.zoomable-image {
    cursor: pointer;
}

.zoomable-image img {
    transition: transform 0.2s;
}

.zoomable-image.zoomed img {
    transform: scale(1.6);
}
 /* 图片放大 */



.bold {
    font-weight: bold;
}

summary {
    cursor: pointer;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    /* 水平居中 */
}

.容器 {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#用户输入 {
    padding: 9px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: transparent;
    color: rgb(34, 34, 34);
    border: 1px solid rgb(117, 117, 117);
    /* 添加边框 */
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #45a049;
}

.错误消息 {
    color: red;

    font-size: 40px;
}
.错误消息二 {
    color: rgb(1, 126, 63);

    font-size: 40px;
}

.学习说明 {
    margin-top: 40px;
}

/* .所有根 {
    margin-top: 40px;
} */

h2 {
    color: #333;
}

h1 {
    color: #45a049;
    font-size: 40px;
}

#当前根显示 {
    font-size: 60px;
}
#当前根显示2 {
    font-size: 40px;
      
}

/* 滑动条状态---- */

.toggle-button {
    width: 30px;
    height: 15px;
    background-color: #4CAF50;

    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;

}


.slider {
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.2s;
}

.toggle-button.active {
    background-color: #888;

}

.toggle-button.active .slider {
    transform: translateX(15px);
}

.container {
    display: flex;
    flex-direction: row;

    align-items: center;


    float: right;
}

.toggle-button {
    margin: 0 10px;

}


/* ----滑动条状态 */

a {
    text-decoration: none;
    /* 去掉下划线 */
    color: black;
    /* 设置文字颜色为黑色 */
}


.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#当前根显示,
.错误消息 {
    display: inline-block;
}
.错误消息二 {
    display: inline-block;
}


/* 字根动画---- */
@keyframes slideFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slideFromLeftAnimation {
    animation: slideFromLeft 1s forwards;
}

/* ----字根动画 */

@media (max-width: 768px) {
    .更多功能 {
        margin-bottom: 20px;
    }
}



/* 特训里的 定义一个淡入动画 */
/* 修改后的从左到右的滑入动画 */
@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-10px); /* 从-30px开始移动 */
        
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* 应用动画到目标元素 */
.slide-in-from-left {
    will-change: transform, opacity;
    animation: slideInFromLeft 0.5s ease-out forwards;
}